/* Estilos principales de la  página web actual */

/* body{ */
    /* background-image: url("./imagen1.png"); */
    /* background-color: darkgray; */
    /* color: aliceblue; */
/* } */
/* h1{
    color: darkgreen;
}

.encabezado-principal{
    color:brown;
} */

/* #encabezado-inicial {
    color: darkgoldenrod;
} */

/* .koders-table{
    border-style: dashed;

} */
/* td{
    border-style: solid;
    margin-right: 5px;
} */
/* h1{ */
    /* color:orange; */
    /* padding: 70px,0px; */
    /* border:solid; */
/* } */
#TPrincipal{
    color:forestgreen;
}

.product-card{
    width: 300px;
}

.fix-height{
    height: 50%;
}
.Cmenu {
    background-color:hotpink;
}
#navigation {
    background-color: hotpink;
}